
@{

    ViewBag.Title = "Acerca de WebFútbol";

}

<main aria-labelledby="title">

    <h2 id="title">@ViewBag.Title.</h2>

    <h3>@ViewBag.Message</h3>

    <p>Este es el sitio web de con la mejor información acerca de tu fuente definitiva para acceder a la información más completa y actualizada sobre equipos, jugadores e información estadística relevante en el mundo del deporte. En un solo lugar, te ofrecemos una experiencia inigualable para seguir de cerca tus deportes favoritos.</p>

</main>