@{
    ViewBag.Title = "Contactos";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>



    <address>
        Aplicaciones Distribuidas<br />
        2023<br />
        Edwin Rea - Mario Vela<br />
    </address>



    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">edwin.rearengifo@epn.edu.ec</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">mario.vela@epn.edu.ec</a>
    </address>
</main>